/* .contact .highlight {
  color: var(--purple);
}

.contact {
  height: 787px;
  background-image: url(../assets/images/Background_Contacts.png);
  background-size: contain;
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40 px 20px;
}

.contact-item {
  font-family: "Maven Pro";
  font-size: 16px;
  color: var(--gray-500);
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: var(--gray-300);
  padding: 20px;
  border-radius: 8px;
  width: 400px;
  height: 68px;
  margin: 16px;
  
}

.contact-links {
  margin-top: 48px;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  
}
.contact-item a :hover {
  color: var(--blue);
}
.contact-item a {
  text-decoration: none;
  color: var(--gray-400);
  transition: color 0.3s ease-in-out;
} */