/* header {
  padding-block: 80px;
  
}

.info {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.user {
  width: 112px;
  height: 112px;
  
}

.conatiner figure.info {
  width: 240px;
  height: 240px;
  border-radius: 50%;
  box-shadow: 0 0 15px black;
  background-image: url(../assets/images/avatar.svg);
}

.conatiner figure.info img 
 */
