.intro {
  background-image: url(../assets/images/Background_Intro.png);
  min-height: 750px;
  height: 100vh;
  background-size: contain;
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;    
}

.profile {
  position: relative;
  width: 160px;
  height: 160px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 56px;
  margin-top: clamp(80px, 10vh, 128px);
}

.avatar-code {
  position: relative;
  right: 30px;
  margin-top: 60px;
  width: 32px;
  height: 32px;
}

.circle-container {
  width: 96px; 
  height: 96px;
  border: 2px solid var(--red); 
  border-radius: 50%; 
  padding: 5px;
}

.avatar {
  height: 100%; 
}

.tech-icons {
  display: flex;
  gap: 15px;
  margin-top: 80px;
  flex-wrap: wrap;
  justify-content: center;
}

.tech-icons .icon {
  background-color: var(--gray-300);
  padding: 14px;
  border-radius: 20px;
  font-size: 14px;
  font-family: 'Maven Pro';
  display: flex;
  width: auto;
  height: 40px;
  align-items: center;
  justify-content: center;
  color: var(--gray-600);
}

.icon img {
  width: 24px;
  height: 24px;
  margin-right: 12px;
  
}

.doubledown {
  height: 32px;
  width: 32px;
  margin-top: 94px;
  margin-bottom: 60.5px;
}

.intro .text-sm {
  width: 680px;
  height: 40px;
  margin: 20px;
  color: var(--gray-400);
}

.text {
  
}
