.projects {
  min-height: 917px;
  background-color: var(--gray-200);
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 24px;
  justify-content: center;
  max-width: 800px;
  margin-bottom: 144px;
 
  
}

.card {
  background-color: var(--gray-300);
  border-radius: 12px;
  padding: 12px;
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
  box-sizing: border-box;
  width: 330px;
  height: 280px;
  overflow: hidden;
  border: 2px solid transparent;
  cursor: pointer;
 
}

.card:hover {
  border-color: var(--gray-400);
}

.card img {
  width: 100%;
  border-radius: 8px;
  object-fit: cover;
  
}

.card-content {
  width: 100%;
  text-align: left; 
  
  
}

.projects .title-sm {
  color: var(--gray-600); 
  /* margin-top: 72px; */
  margin-bottom: 8px;
  
}

.projects .text-sm {
  color: var(--gray-500);
  width: 298px;
  height: 40px;
  margin-bottom: 17px;
}

.trabalho {
  margin-top: 72px;
}

