/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  margin: 80px;
  background-color: var(--gray-300);
}

:root {
  --red: #E3646E;
  --purple: #BB72E9;
  --blue: #3996DB;
  --green: #82BC4F;
  --yellow: #EABD5F;
  --gray-100: #0D0E11;
  --gray-200: #16181D;
  --gray-300: #292C34;
  --gray-400: #878EA1;
  --gray-500: #C0C4CE;
  --gray-600: #E2E4E9;
  --font-family: 'Asap', 'Inconsolata', 'Maven Pro';
}

/* Tipografia */
.title-lg, .title-md, .title-sm, .subtitle, .text-md, .text-sm {
  font-family: var(--font-family);
  color: var(--gray-600);
}

.title-lg {
  font-size: 56px;
  font-weight: 600;
  line-height: 120%;
}

.title-md {
  font-size: 24px;
  font-weight: 600;
  line-height: 120%;
}

.title-sm {
  font-size: 16px;
  font-weight: 600;
  line-height: 120%;
  color: var(--gray-500);
}

.subtitle {
  font-size: 20px;
  font-weight: 400;
  line-height: 120%;
  color: var(--gray-500);
}

.text-md {
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  color: var(--gray-500);
}

.text-sm {
  font-size: 14px;
  font-weight: 400;
  line-height: 140%;
  color: var(--gray-500);
}

.highlight {
  color: var(--red);
}

.contact .highlight {
  color: var(--purple);
}

/* Seções Gerais */
.intro, .projects, .services, .contact {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.intro {
  background-image: url(../assets/images/Background_Intro.png);
  min-height: 100vh;
  background-size: contain;
}

.intro .text-sm {
  color: var(--gray-400);
}

.profile {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 80px 0 56px;
}

.avatar-code {
  position: ;
  right: 0px;
  bottom: 0px;
  width: 32px;
}
.circle-container {
  width: 96px;
  height: 96px;
  border: 2px solid var(--red); border-radius: 50%;
  padding: 3px;
}

.avatar { height: 100%; }

/* Ícones */
.tech-icons {
  display: flex;
  gap: 15px;
  margin-top: 80px;
  flex-wrap: wrap;
  justify-content: center;
}

.tech-icons .icon {
  background-color: var(--gray-300);
  padding: 14px;
  border-radius: 20px;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--gray-600);
  height: 40px;
}

.icon img {
  width: 24px;
  height: 24px;
  margin-right: 12px;
}

/* Projetos */
.projects {
  background-color: var(--gray-200);
  min-height: 917px;
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
  justify-content: center;
  max-width: 800px;
}

.card {
  background-color: var(--gray-300);
  border-radius: 12px;
  padding: 12px;
  width: 330px;
  height: 280px;
  overflow: hidden;
}

.card img { width: 100%; border-radius: 8px; }

/* Serviços */
.services {
  background-color: var(--gray-100);
  min-height: 480px;
}

.services-grid {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.service-card {
  width: 280px;
  height: 155px;
  border: 2px solid var(--gray-200);
  border-radius: 12px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

/* Contato */
.contact {
  background-image: url(../assets/images/Background_Contacts.png);
  background-size: contain;
  height: 787px;
}

.contact-links {
  margin-top: 48px;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.contact-item {
  font-family: 'Maven Pro';
  font-size: 16px;
  color: var(--gray-500);
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: var(--gray-300);
  padding: 20px;
  border-radius: 8px;
  width: 400px;
  height: 68px;
  margin: 16px;
}

/* Links */
a { text-decoration: none; color: inherit; transition: color 0.3s ease-in-out; }
a:hover { color: var(--blue); }
